h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
 
.title-container {
    display: flex;
    justify-content: center;
}

h5{
    font-size: 30px;
}

.media{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 30px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
  
}

.media-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    font-family: 'Alike', serif;
}


 .instagram-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#pixlee_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    border-bottom: black;
}

.bg-mycolor{
    background-color: #4d0000
}

.btn-primary {
    background-color: #ffcccc!important;
}

.navbar-brand{
    font-size: 30px;
}

.btn-find{
    background-color:  #ffcccc!important;
}

.media-body{

    
}