body{
    background-image: url("../imgs/background_photo.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: white;
}

.input-area{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 300px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    padding: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
 
.title-container {
    display: flex;
    justify-content: center;
}

h5{
    font-size: 30px;
}

.media{
    padding: 30px;
}

.media-body{
    padding: 20px;
}