html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.elementToFadeInAndOut {
    display: flex;
    background-image: url("../imgs/Open_logo.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 4s linear forwards;
    justify-content: center;
    align-items: center;
}

nav {
    -webkit-animation: fadein 3s linear forwards;
    animation: fadein 4s linear forwards;
}

@-webkit-keyframes fadein {
    0%,
    50% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadein {
    0%,
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeinout {
    100% {
        opacity: 0;
    }
    0%,
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    100% {
        opacity: 0;
    }
    0%,
    50% {
        opacity: 1;
    }
}

.btn-primary:active {
    background-color: #8064A2
}

.btn-primary:hover {
    background-color: aqua
}

body {
    background-image: url("../imgs/background_photo.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Jaldi', sans-serif;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}