/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav, */
/* section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
} */

/* blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
} */

/* table {
    border-collapse: collapse;
    border-spacing: 0;
} */

/* .elementToFadeInAndOut {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    background-image: url("../imgs/logo.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 4s linear forwards;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}  */

h1{
    font-size: 100px;
}

h2{
    font-size: 30px;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.welcome{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 40px;
    font-family: 'Alike', serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@-webkit-keyframes fadeinout {
    100% {
        opacity: 0;
    }
   0%,  50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    100% {
        opacity: 0;
    }
    0%, 50% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    border-bottom: black;
}

.bg-mycolor{
    background-color: #4d0000
}

.btn-primary {
    background-color: #ffcccc!important;
}

.navbar-brand{
    font-size: 30px;
}
body {
    background-image: url("../imgs/background_photo.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    /* color: white; */
    font-family: 'Jaldi', sans-serif;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fa {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }